.headerLogo{
    color: rgb(0, 171, 250);
    margin-left: 50%;
}
.searchBarDiv{
    margin-left: 30%;
    height: 32px;
    width: 50%;
    border: 1px solid black;
    border-radius: 15px;
}

.searchButton{
    float: right;
    margin-right: 15px;
    margin-top: 1px;
    height: 30px;
    width: 30px;
    border: none;
    background-color:transparent;
}
.voiceButton{
    float: right;
    margin-top: 1px;
    height: 30px;
    width: 30px;
    border: none;
    background-color:transparent;
}
input, textarea {
    margin-left: 15px;
    border: none;
    font-size: 20px;
    font-style: italic;
    color: rgba(70, 70, 70, 0.685);
    outline: 0;
    outline-offset: 0;
    height: 30px;
    width: 85%;
    }


