html {
    box-sizing: border-box;
}

*{
    background-color:transparent;
}

@keyframes backgroundColorAnimation {
    from {
        background-color: red;
    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color: green;
    }
    75%{
        background-color: blue;
    }
    to {
        background-color: violet;
    }
}

.headerLogo{
    margin: 10px 50% 10px;
}

.headerLogo h1{
    font-family: Arial; 
    color: rgb(255, 0, 0);
}

.searchBar{
    margin: 0 auto;
    height: 34px;
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.856);
    border-radius: 15px;

}
.searchBar > * {
    padding: 2px 10px 1px 10px;
}

.textInput{
    border: none;
    display: inline;
    font-size: 20px;
    outline: none;
    height: 30px;
    inline-size: max-content;
}

.textInput:focus{
    animation-name: backgroundColorAnimation;
    animation-duration: 2s;
}

::placeholder{
    font-style: italic;
    color: rgba(70, 70, 70, 0.685);
}

.buttonsContainer{
    display: inline;
    float: right;
}

.buttonsContainer > button{
    margin: 0 2px;
    height: 30px;
    width: 30px;
    border: none;
}

button:hover{
    background-color: rgba(70, 70, 70, 0.685);
}


